.scroll {
    height: 100vh;
    overflow-y: scroll;
}

.content-container {
    padding-top: 71px;
}

.nav-user-info > a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.clickable {
    cursor: pointer;
}

.accordion > .card:only-of-type {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) calc(.25rem - 1px) calc(.25rem - 1px) !important;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

.favorites-list {
    list-style: none;
    padding-left: 15px;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -16px;
    margin-bottom: -15px;
    height: 88.25vh;
    overflow-y: auto;
}

.favorites-item {
    text-decoration: none !important;
    cursor: pointer;
}

.favorites-item:hover, .favorites-item.selected {
    background-color: #f0f0f0;
}

.favorites-name {
    color: #6e6e6e;
    text-decoration: none !important;
}

.favorites-name:hover {
    color: #bdbdbd;
}

.favorites-name.selected {
    font-weight: bold;
}

.thread-preview.card {
    height: 300px;
}

.thread-preview > .card-body {
    overflow-y: auto;
}

.comment {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) calc(.25rem - 1px) calc(.25rem - 1px) !important;
    border: 1px solid rgba(0,0,0,.125) !important;
}

.comment:not(:nth-last-child(2)) {
    margin-bottom: 1rem!important;
}

.comment hr {
    margin-top: 0px;
}

hr.full {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.red {
    color: #ad0000;
}